<main>
 <header class="text-zinc-200">
   <nav class="sticky flex top-0 bg-gradient-to-r from-rose-500 to-pink-500">
     <div class="flex items-center p-2 gap-2">
       <img src="/images/logo-inverted.png" width="50" />
       <div class="text-2xl font-bold">
	tw:<span class="text-sky-900">mf</span>
       </div>
     </div>
   </nav>
 </header>
</main>
