@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for LiveView course */

body {
  @apply antialiased relative bg-slate-200 font-sans;
}


main {
  @apply max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8;
}

h1 {
  @apply text-center text-slate-900 font-extrabold text-3xl;
}

h2 {
  @apply text-center text-slate-800 font-extrabold text-2xl;
}

h3 {
  @apply text-center text-slate-800 font-bold text-xl;
}

/* Light */

#light {
  @apply mt-8 max-w-xl mx-auto text-center;

  & button {
    @apply bg-transparent mx-1 py-2 px-4 border-slate-400 border-2 rounded-lg shadow-sm transition ease-in-out duration-150 outline-none hover:bg-slate-300 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  & img,
  & svg {
    @apply w-8;
  }

  & .meter {
    @apply flex h-12 overflow-hidden text-base bg-slate-300 rounded-lg mb-8;
  }

  & .meter > span {
    @apply flex flex-col justify-center text-slate-900 text-center whitespace-nowrap bg-yellow-300 font-bold w-0;
    transition: width 2s ease;
  }

  & form {
    @apply mt-10;

    & .temps {
      @apply flex justify-center items-center space-y-0 space-x-10;

      & > div {
        @apply flex items-center;

        & input {
          @apply h-4 w-4 border-slate-300 text-slate-600 focus:ring-slate-500;
        }

        & label {
          @apply ml-2 block text-sm font-bold text-slate-700;
        }
      }
    }
  }
}

#form {
  @apply mt-8 max-w-lg mx-auto;

  & form {
    @apply mx-auto mb-6 p-6 border border-slate-300 rounded-lg shadow-lg bg-white text-center;

    & .fields {
      @apply flex items-baseline justify-center space-x-4 mb-6;

      & label {
        @apply block text-sm font-semibold text-slate-700;
      }

      & input[type="number"] {
        @apply focus:ring-indigo-300 focus:border-indigo-300 block w-full min-w-0 pl-6 pr-16 text-sm border-slate-300 rounded-md transition duration-150 ease-in-out appearance-none;
      }

      & .input {
        @apply mt-1 relative rounded-md shadow-sm;
      }

      & .unit {
        @apply absolute inset-y-0 right-0 pr-4 flex items-center pointer-events-none text-slate-500 text-sm;
      }
    }

    & .weight {
      @apply mt-4 block text-base font-bold text-slate-700;
    }

    & button {
      @apply py-2 px-4 mt-6 border border-transparent font-semibold text-base rounded-md text-white bg-green-500 transition duration-150 ease-in-out outline-none hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;
    }
  }

  & .quote {
    @apply text-center p-6 border-4 border-dotted border-green-600 text-xl font-semibold text-green-600;
  }
}

#flights {
  @apply mt-8 max-w-3xl mx-auto text-center;

  & form {
    @apply inline-flex items-center px-2;

    & input[type="text"] {
      @apply h-10 border border-slate-400 rounded-l-md bg-white px-5 text-base;
    }

    & input[type="text"]:focus {
      @apply outline-none;
    }
  }

  & button {
    @apply h-10 px-3 py-2 bg-transparent border border-slate-400 border-l-0 rounded-r-md transition ease-in-out duration-150 outline-none hover:bg-slate-300;

    & img,
    & svg {
      @apply h-5 w-5;
    }
  }

  & .flights {
    @apply my-8 bg-white shadow overflow-hidden rounded-md;

    & li {
      @apply border-t border-slate-300 px-6 py-4 hover:bg-indigo-100;

      & .first-line {
        @apply flex items-center justify-between;

        & .number {
          @apply text-lg font-semibold text-indigo-600 truncate;
        }

        & .origin-destination {
          @apply mt-0 flex items-center text-base text-indigo-600;

          & img,
          & svg {
            @apply flex-shrink-0 mr-1 h-5 w-5;
          }
        }
      }

      & .second-line {
        @apply mt-2 flex justify-between;

        & .departs {
          @apply text-slate-500;
        }

        & .arrives {
          @apply text-slate-500;
        }
      }
    }
  }
}

/*
 * Loading Spinner
 *
 * Copied from:
 * https://projects.lukehaas.me/css-loaders/
 */

 .loader,
 .loader:before,
 .loader:after {
   border-radius: 50%;
   width: 2.5em;
   height: 2.5em;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation: load7 1.8s infinite ease-in-out;
   animation: load7 1.8s infinite ease-in-out;
 }
 
 .loader {
   color: #5a67d8;
   font-size: 10px;
   margin: 20px auto;
   position: relative;
   text-indent: -9999em;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
 }
 
 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   top: 0;
 }
 
 .loader:before {
   left: -3.5em;
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
 }
 
 .loader:after {
   left: 3.5em;
 }
 
 @-webkit-keyframes load7 {
   0%,
   80%,
   100% {
     box-shadow: 0 2.5em 0 -1.3em;
   }
 
   40% {
     box-shadow: 0 2.5em 0 0;
   }
 }
 
 @keyframes load7 {
   0%,
   80%,
   100% {
     box-shadow: 0 2.5em 0 -1.3em;
   }
 
   40% {
     box-shadow: 0 2.5em 0 0;
   }
 }